<div class="container-fluid">
	<div>
		<div>
			<div class="row">
				<div class="col-md-12">
					<div class="text-center"></div>
				</div>
			</div>
		</div>
		<div>
			<div class="row">
				<div class="col-md-3 collapse-transition">
					<div class="bg-light undefined">
						<div>
							<div>
								<div class="row">
									<div class="col-md-12">
										<div id="filters" class="">
											<div>
												<div class="row">
													<div class="col-md-12">
														<div id="logId" aria-expanded="true" data-fa-transform="grow-10" class="jf-collapse-toggle"><svg class="svg-inline--fa fa-angle-down fa-w-10 mt-2 jf-rotate-if-collapsed jf-rotate-if-not-collapsed" aria-hidden="true" data-prefix="fas" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>
															<!-- <i class="fas fa-angle-down mt-2 jf-rotate-if-collapsed jf-rotate-if-not-collapsed"></i> -->&nbsp;Log id</div>
														<div id="logId" class="">
															<div class="form-group mt-2"><input type="number" id="logId" placeholder="e.g. 1" class="form-control form-control-sm"></div>
														</div>
													</div>
												</div>
											</div>
											<div>
												<div class="row">
													<div class="col-md-12">
														<div id="searchterm" aria-expanded="true" data-fa-transform="grow-10" class="jf-collapse-toggle"><svg class="svg-inline--fa fa-angle-down fa-w-10 mt-2 jf-rotate-if-collapsed jf-rotate-if-not-collapsed" aria-hidden="true" data-prefix="fas" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>
															<!-- <i class="fas fa-angle-down mt-2 jf-rotate-if-collapsed jf-rotate-if-not-collapsed"></i> -->&nbsp;Title</div>
														<div id="searchterm" class="">
															<div class="form-group mt-2"><input type="text" id="searchterm" placeholder="e.g. EOR report" class="form-control form-control-sm"></div>
														</div>
													</div>
												</div>
											</div>
											<div>
												<div class="row">
													<div class="col-md-12">
														<div id="startCreationTime" aria-expanded="true" data-fa-transform="grow-10" class="jf-collapse-toggle"><svg class="svg-inline--fa fa-angle-down fa-w-10 mt-2 jf-rotate-if-collapsed jf-rotate-if-not-collapsed" aria-hidden="true" data-prefix="fas" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>
															<!-- <i class="fas fa-angle-down mt-2 jf-rotate-if-collapsed jf-rotate-if-not-collapsed"></i> -->&nbsp;startCreationTime</div>
														<div id="startCreationTime" class="">
															<div class="form-group mt-2"><input type="datetime-local" id="startCreationTime" class="form-control form-control-sm"></div>
														</div>
													</div>
												</div>
											</div>
											<div>
												<div class="row">
													<div class="col-md-12">
														<div id="endCreationTime" aria-expanded="true" data-fa-transform="grow-10" class="jf-collapse-toggle"><svg class="svg-inline--fa fa-angle-down fa-w-10 mt-2 jf-rotate-if-collapsed jf-rotate-if-not-collapsed" aria-hidden="true" data-prefix="fas" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>
															<!-- <i class="fas fa-angle-down mt-2 jf-rotate-if-collapsed jf-rotate-if-not-collapsed"></i> -->&nbsp;endCreationTime</div>
														<div id="endCreationTime" class="">
															<div class="form-group mt-2"><input type="datetime-local" id="endCreationTime" class="form-control form-control-sm"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9 mb-5 collapse-transition">
					<div class="row mb-2 ">
						<div class="col-md-10"></div>
						<div class="col-md-2"></div>
					</div>
					<div>
						<div class="table-responsive">
							<table class="table table-sm table-bordered table-hover jf-table ">
								<thead class="thead-light">
									<tr>
										<th scope="col" class="jf-th null">Log id</th>
										<th scope="col" class="jf-th null">Title</th>
										<th scope="col" class="jf-th null">Sub-type</th>
										<th scope="col" class="jf-th null">Origin</th>
										<th scope="col" class="jf-th jf-sort-desc">Creation time</th>
										<th scope="col" class="jf-th null">Author</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>144</td>
										<td><a href="/logs/144">faucibus orci luctus et ultrices posuere cubilia curae donec pharetra magna vestibulum aliquet ultrices erat</a></td>
										<td>
											<div class="text-center"><span class="badge badge-primary">comment</span></div>
										</td>
										<td>
											<div class="text-center"><span class="badge badge-success">human</span></div>
										</td>
										<td>22:24:20 30/07/2019</td>
										<td>12</td>
									</tr>
									<tr>
										<td>662</td>
										<td><a href="/logs/662">ultrices libero non mattis pulvinar nulla pede ullamcorper augue a suscipit nulla elit ac nulla sed vel</a></td>
										<td>
											<div class="text-center"><span class="badge badge-primary">comment</span></div>
										</td>
										<td>
											<div class="text-center"><span class="badge badge-success">human</span></div>
										</td>
										<td>20:32:43 30/07/2019</td>
										<td>6</td>
									</tr>
									<tr>
										<td>976</td>
										<td><a href="/logs/976">viverra dapibus nulla suscipit ligula in lacus curabitur at ipsum ac tellus semper interdum mauris ullamcorper purus</a></td>
										<td>
											<div class="text-center"><span class="badge badge-warning">run</span></div>
										</td>
										<td>
											<div class="text-center"><span class="badge badge-primary">process</span></div>
										</td>
										<td>20:00:34 30/07/2019</td>
										<td>1</td>
									</tr>
									<tr>
										<td>347</td>
										<td><a href="/logs/347">nunc donec quis orci eget orci vehicula condimentum curabitur in libero ut massa volutpat convallis morbi odio</a></td>
										<td>
											<div class="text-center"><span class="badge badge-primary">comment</span></div>
										</td>
										<td>
											<div class="text-center"><span class="badge badge-success">human</span></div>
										</td>
										<td>16:34:05 30/07/2019</td>
										<td>6</td>
									</tr>
									<tr>
										<td>225</td>
										<td><a href="/logs/225">eu orci mauris lacinia sapien quis libero nullam sit amet turpis elementum ligula vehicula consequat</a></td>
										<td>
											<div class="text-center"><span class="badge badge-warning">run</span></div>
										</td>
										<td>
											<div class="text-center"><span class="badge badge-primary">process</span></div>
										</td>
										<td>16:33:44 30/07/2019</td>
										<td>8</td>
									</tr>
									<tr>
										<td>610</td>
										<td><a href="/logs/610">ornare imperdiet sapien urna pretium nisl ut volutpat sapien arcu sed augue aliquam erat volutpat in congue etiam</a></td>
										<td>
											<div class="text-center"><span class="badge badge-primary">comment</span></div>
										</td>
										<td>
											<div class="text-center"><span class="badge badge-success">human</span></div>
										</td>
										<td>13:13:11 30/07/2019</td>
										<td>2</td>
									</tr>
									<tr>
										<td>538</td>
										<td><a href="/logs/538">facilisi cras non velit nec nisi vulputate nonummy maecenas tincidunt lacus at velit vivamus vel</a></td>
										<td>
											<div class="text-center"><span class="badge badge-warning">run</span></div>
										</td>
										<td>
											<div class="text-center"><span class="badge badge-primary">process</span></div>
										</td>
										<td>10:23:53 30/07/2019</td>
										<td>5</td>
									</tr>
									<tr>
										<td>985</td>
										<td><a href="/logs/985">rhoncus sed vestibulum sit amet cursus id turpis integer aliquet</a></td>
										<td>
											<div class="text-center"><span class="badge badge-warning">run</span></div>
										</td>
										<td>
											<div class="text-center"><span class="badge badge-primary">process</span></div>
										</td>
										<td>06:18:17 30/07/2019</td>
										<td>17</td>
									</tr>
									<tr>
										<td>744</td>
										<td><a href="/logs/744">nec nisi vulputate nonummy maecenas tincidunt lacus at velit vivamus</a></td>
										<td>
											<div class="text-center"><span class="badge badge-primary">comment</span></div>
										</td>
										<td>
											<div class="text-center"><span class="badge badge-success">human</span></div>
										</td>
										<td>03:08:09 30/07/2019</td>
										<td>8</td>
									</tr>
									<tr>
										<td>791</td>
										<td><a href="/logs/791">pellentesque ultrices mattis odio donec vitae nisi nam ultrices libero non mattis pulvinar</a></td>
										<td>
											<div class="text-center"><span class="badge badge-warning">run</span></div>
										</td>
										<td>
											<div class="text-center"><span class="badge badge-primary">process</span></div>
										</td>
										<td>22:20:04 29/07/2019</td>
										<td>14</td>
									</tr>
									<tr>
										<td>159</td>
										<td><a href="/logs/159">bibendum imperdiet nullam orci pede venenatis non sodales sed tincidunt eu felis</a></td>
										<td>
											<div class="text-center"><span class="badge badge-primary">comment</span></div>
										</td>
										<td>
											<div class="text-center"><span class="badge badge-success">human</span></div>
										</td>
										<td>21:34:31 29/07/2019</td>
										<td>15</td>
									</tr>
									<tr>
										<td>390</td>
										<td><a href="/logs/390">ut mauris eget massa tempor convallis nulla neque libero convallis eget eleifend luctus ultricies eu nibh quisque id</a></td>
										<td>
											<div class="text-center"><span class="badge badge-primary">comment</span></div>
										</td>
										<td>
											<div class="text-center"><span class="badge badge-success">human</span></div>
										</td>
										<td>19:32:30 29/07/2019</td>
										<td>15</td>
									</tr>
									<tr>
										<td>325</td>
										<td><a href="/logs/325">nec nisi volutpat eleifend donec ut dolor morbi vel lectus in quam fringilla rhoncus mauris enim leo rhoncus</a></td>
										<td>
											<div class="text-center"><span class="badge badge-primary">comment</span></div>
										</td>
										<td>
											<div class="text-center"><span class="badge badge-success">human</span></div>
										</td>
										<td>14:00:37 29/07/2019</td>
										<td>20</td>
									</tr>
									<tr>
										<td>131</td>
										<td><a href="/logs/131">nunc proin at turpis a pede posuere nonummy integer non velit donec diam</a></td>
										<td>
											<div class="text-center"><span class="badge badge-warning">run</span></div>
										</td>
										<td>
											<div class="text-center"><span class="badge badge-primary">process</span></div>
										</td>
										<td>11:21:37 29/07/2019</td>
										<td>3</td>
									</tr>
									<tr>
										<td>494</td>
										<td><a href="/logs/494">ut dolor morbi vel lectus in quam fringilla rhoncus mauris enim leo rhoncus sed vestibulum</a></td>
										<td>
											<div class="text-center"><span class="badge badge-warning">run</span></div>
										</td>
										<td>
											<div class="text-center"><span class="badge badge-primary">process</span></div>
										</td>
										<td>10:31:49 29/07/2019</td>
										<td>18</td>
									</tr>
									<tr>
										<td>688</td>
										<td><a href="/logs/688">sapien cursus vestibulum proin eu mi nulla ac enim in tempor turpis nec euismod scelerisque quam turpis adipiscing lorem</a></td>
										<td>
											<div class="text-center"><span class="badge badge-warning">run</span></div>
										</td>
										<td>
											<div class="text-center"><span class="badge badge-primary">process</span></div>
										</td>
										<td>08:34:34 29/07/2019</td>
										<td>19</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="bg-light rounded
		p-1 border undefined">
						<div class="row">
							<div class="col-md-4 m-1 small-center">
								<div class="pagination-block"><label for="pageSize" class="col-form-label col-form-label-sm mr-2">Page size</label></div>
								<div class="pagination-block"><select id="pageSize" name="pageSize" class="form-control form-control-sm undefined" style="min-width: 75px; max-width: 75px; overflow: hidden;"><option value="">16</option><option value="1">1</option><option value="2">2</option><option value="4">4</option><option value="8">8</option><option value="16">16</option><option value="32">32</option><option value="64">64</option><option value="128">128</option><option value="256">256</option><option value="512">512</option></select></div>
								<div class="text-muted mt-2 ml-2 pagination-block">
									<div class="jf-pagecounter">1-16 of 1015 rows</div>
								</div>
							</div>
							<div class="col-md-4 m-1 small-center">
								<nav aria-label="Pages">
									<ul class="pagination pagination-sm jf-pagination">
										<li class="page-item disabled"><a class="page-link">Previous</a></li>
										<li class="page-item active"><input type="hidden" id="page-selector-id" value="1" class="page-selector form-control form-control-sm">
											<div id="page-selector-label" data-toggle="tooltip" data-placement="bottom" title="" class="page-link page-selector-label" data-original-title="Click to manually select a page">1</div>
										</li>
										<li class="page-item"><a id="2" class="page-link">2</a></li>
										<li class="page-item"><a id="3" class="page-link">3</a></li>
										<li class="page-item disabled "><a class="page-link jf-page-non-link">of</a></li>
										<li class="page-item"><a id="64" class="page-link">64</a></li>
										<li class="page-item false"><a class="page-link">Next</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
