<div class="container-fluid">
	<div>
		<div>
			<div>
				<div class="row">
					<div class="col-md-12">
						<div class="text-center"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9">
					<div class="bg-light rounded
                p-2 border col-sm-3 mb-2"><label for="timeRange" class="col-form-label col-form-label-sm">Time range in hours</label><select id="timeRange" name="timeRange" class="form-control form-control-sm undefined"><option value="">24</option><option value="24">24</option><option value="48">48</option><option value="72">72</option><option value="96">96</option></select></div>
					<div>
						<div class="table-responsive">
							<table class="table table-sm table-bordered table-hover jf-table ">
								<thead class="thead-light">
									<tr>
										<th scope="col" class="jf-th jf-sort-asc">Subsystem</th>
										<th scope="col" class="jf-th null"># of Log entries</th>
										<th scope="col" class="jf-th null">Last Log Entry</th>
										<th scope="col" class="jf-th null">Author</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
							<div class="row">
								<div class="col-md-12">
									<div role="alert" class="alert alert-light text-center">No results found.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
